.Header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: lightblue;
  box-shadow: 0px 1px 3px #bababa;
}

.search-span {
  font-size: 20px;
  background-color: lightpink;
  margin-left: 30px;
}
